<?xml version="1.0" encoding="utf-8"?>
<manifest package="fr.ralala.privatestorage"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.fingerprint" android:required="false"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
        android:name=".PrivateStorageApp"
        android:testOnly="false"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.login.InitActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".ui.activities.login.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.login.LoginActivity"/>
        </activity>

        <activity
            android:name=".ui.activities.login.ForgotActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".ui.activities.login.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.login.LoginActivity"/>
        </activity>

        <activity
            android:name=".ui.activities.NamesActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".ui.activities.login.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.login.LoginActivity"/>
        </activity>

        <activity
            android:name=".ui.activities.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".ui.activities.NamesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.NamesActivity"/>
        </activity>

        <activity
            android:name=".ui.activities.fchooser.FileChooserActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".ui.activities.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.SettingsActivity"/>
        </activity>

        <activity
            android:name=".ui.activities.EntriesActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".ui.activities.NamesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.NamesActivity"/>
        </activity>

        <activity
          android:name="com.dropbox.core.android.AuthActivity"
          android:configChanges="orientation|keyboard"
          android:launchMode="singleTask">
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <!-- <data android:scheme="db-your_app_key_here" /> -->
                <data android:scheme="db-2qz9nxw2bn0m85d" />

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
